.container{
  display:flex;
  flex-wrap: wrap;
  flex: 0 1 60%;
  min-width:400px;
  width: 80%;
  margin: 0 auto;
}

.button,.txt{
   display: flex;
   flex-wrap: wrap;
   flex: 0 1 100%;
}

.button{
  display:flex;
  flex: 0 1 24%;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 50px;
  cursor: pointer;
  margin: 4px 1px;
}

.txt {
  font-size: 100px;
  border: #4CAF50;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

#di > input {
  width: 24.5%;
}

.box {
  margin: 0;
}
.button2 {background-color: orange;}
.button3 {background-color: grey;}
.button4 {background-color: orange; width: 100%; flex-basis: 48.10%;}

#button-9 {
  flex-basis: 100%;
}